<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset='utf-8'>

    <title>{% block title %}Transport_web{% endblock %}</title>
    {% endblock %}

    <link rel="stylesheet" href="../static/webcss.css/">
</head>

<body>
  <div class="menu-container">
    <div class="menu">
      <div class="Logo">Hibisco Carina</div>
      <div><a href="#calculadora">Calculadora de precios</a></div>
      <div class="transportes_urgentes">Transportes directos</div>
    </div>
  </div>

  {% block content %}{% endblock %}
</body>

<footer>
  {% block footer %}
  Hibisco Carina: Empresa dedicada al transporte por carretera desde 2018.
  <p>Realizamos transportes con un margen de 24h.</p>
  <p>Llámenos hoy.</p>
  {% endblock %}
</footer>


</html>