<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset='utf-8'>

    <title>{% block title %}Transport_web{% endblock %}</title>
    {% endblock %}

    <link rel="stylesheet" href="../static/base.css/">
    <link rel="stylesheet" href="../static/base-movile.css/">
</head>

<body>
  <div class="menu-container">
    <div class="menu">
      <div class="menu-item">Hibisco Carina</div>
      <div class="menu-item"><a href="#calculadora">Calculadora de precios</a></div>
      <div class="menu-item">Transportes directos</div>
    </div>
  </div>
<div class="container-of-containers">
<div class="container">
  {% block content %}
  {% endblock %}
</div>
</div>

<footer>
  {% block footer %}
  Hibisco Carina: Empresa dedicada al transporte por carretera desde 2018.
  <p>Realizamos transportes con un margen de 24h.</p>
  <p>Llámenos hoy.</p>
  {% endblock %}
</footer>
</body>

</html>