{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
{% endblock %}
{% block content %}


  <div class="header-container">

    <div class="header">
      <div class="header-left">
        <div class="header-left-text">Ante la necesidad:</div>
      </div>
      <div class="header-right">
        <div class="header-right-title">Precios claros</div>
        <div class="header-right-text">Transportes urgentes</div>
      </div>

      <div class="header-left2">
        <div class="header-left-text2">Para transportar:</div>
      </div>
      <div class="header-right2">
        <div class="header-right-title2">Vehículos disponibles</div>
        <div class="header-right-text2">Furgoneta pequeña, mediana y grande</div>
      </div>
    </div>

  </div>

  <div class="calculator-container">

    <div class="calculator">
      <div class="input-km">

        <form action="price" method="post">
          <!--<ul>
            {% for item in furgonetas %}
              <li><input type="radio" id="{{item}}" value="" name="vehicle" /><label>{{item}}</label></li>
            {% endfor %}
          </ul>-->

          <h3>Indique Km hasta destino:</h3> <input style="margin-top: 5px;" type="number" id="km" name="km" value="" />
          <a href="/price" target="_blank"><button><h3>Calcule su precio</h3></button></a>
        </form>

      </div>
    </div>
  </div>

  <div class="box-container">
    <div class="box-of-boxes">

      <div class="big-box">
        <h3 class="big-box-text">Reserve llamando al:</h3>
        <div class="small-box">
          <p class="small-box-text">
          <p>663 56 46 53</p>
          o
          <p>648 03 11 78</p>
          </p>
        </div>
      </div>

      <div class="big-box">
        <h3 class="big-box-text">Disponibilidad:</h3>
        <div class="small-box">
          <p class="small-box-text">
          <p>Llámenos</p>
          <p>En menos de 24 horas saldrá su envío</p>
          </p>
        </div>
      </div>

      <div class="big-box">
        <h3 class="big-box-text">Precio fijo desde Madrid</h3>
        <div class="small-box">
          <p class="small-box-text">
          <p>Desde otras comunidades:</p>
          <p>Se aplican recargos (En breve serán fijos también)</p>
          </p>
        </div>
      </div>

    </div><!--End of box-off-boxex-->
  </div>

{% endblock %}

