.header-container {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	padding: 20px;	
}
.header {
	width: 1200px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.header-left {
	height: 150px;
	width: 580px;
	border: 1px solid black;
	margin: 10px;
	padding: 50px;
	display: flex;
	justify-content: center;
	background-color: lightgray;
}
.header-left-text {
	font-weight: bold;
	font-size: 30px;
	font-family: sans-serif;
}
.header-left2 {
	height: 150px;
	width: 580px;
	border: 1px solid black;
	margin: 10px;
	padding: 50px;
	display: flex;
	justify-content: center;
	background-color: lightgray;
}
.header-left-text2 {
	font-weight: bold;
	font-size: 30px;
	font-family: sans-serif;
}

.header-right {
	height: 150px;
	width: 580px;
	border: 1px solid black;
	margin: 10px;
	padding: 50px;
	display: flex;
	align-items: center;
	background-color: gray;
	flex-direction: column;
}
.header-right-title {
	font-weight: bold;
	font-size: 30px;
	font-family: sans-serif;
}
.header-right-text {
	font-family: sans-serif;
}
.header-right2 {
	height: 150px;
	width: 580px;
	border: 1px solid black;
	margin: 10px;
	padding: 50px;
	display: flex;
	align-items: center;
	background-color: gray;
	flex-direction: column;
}
.header-right-title2 {
	font-weight: bold;
	font-size: 30px;
	font-family: sans-serif;
}
.header-right-text2 {
	font-family: sans-serif;
}



.calculator-container {
	display: flex;
	justify-content: center;
}
.calculator {
	width: 1200px;
	display: flex;
	justify-content: center;
	padding: 50px;
}
