.header-container {
	display: flex;
	justify-content: center;
	border: 1px solid black;	
}
.header {
	width: 1200px;
	display: flex;
	justify-content: center;
}
.header-left {
	width: 580px;
	border: 1px solid black;
	margin: 10px;
	padding: 50px;
	display: flex;
	justify-content: center;
	background-color: lightgray;
}
.header-left-text {
	font-weight: bold;
	font-size: 30px;
	font-family: sans-serif;
}

.header-right {
	width: 580px;
	border: 1px solid black;
	margin: 10px;
	padding: 50px;
	display: flex;
	align-items: center;
	background-color: gray;
	flex-direction: column;
}
.header-right-title {
	font-weight: bold;
	font-size: 30px;
	font-family: sans-serif;
}
.header-right-text {
	font-family: sans-serif;
}



.calculator-container {
	display: flex;
	justify-content: center;
	border: 1px solid black;
}
.calculator {
	width: 1200px;
	display: flex;
	justify-content: center;
	border: 1px solid black;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-button {
}
.dropdown-content {
	position: absolute;
	display: none;
}
.dropdown:hover > .dropdown-content {
	display: block;
}
