* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.price-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;

}
.price-block {
	width: 1200px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.set-price {
	background-image: linear-gradient(lightgray, lightgray, gray);
	padding: 50px;
	margin: 10px;
	font-size: 25px;
	justify-content: center;
	align-items: center;
}
.insert {
	float: right;
}

.volver-container {
	display: flex;
	justify-content: center;
}
.div-volver {
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.volver /*Parece que no sirve este*/{
	margin-bottom: 20px;
	font-size: 15px;
}
button {
	background-color: red;
	transition-duration: 0.5s;
	height: 40px;
	width: 80px;
}
button:hover {
	background-color: darkred;
	color: white;
}